<div>
    <h2 mat-dialog-title>{{data?.title}}</h2>
    <mat-dialog-content>
        <div class="ui-success">
            <svg viewBox="0 0 87 87">
                <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                    <g id="Group-3" transform="translate(2.000000, 2.000000)">
                        <circle id="Oval-2" stroke="rgba(165, 220, 134, 0.2)" stroke-width="4" cx="41.5" cy="41.5"
                            r="41.5">
                        </circle>
                        <circle class="ui-success-circle" id="Oval-2" stroke="#A5DC86" stroke-width="4" cx="41.5"
                            cy="41.5" r="41.5"></circle>
                        <polyline class="ui-success-path" id="Path-2" stroke="#A5DC86" stroke-width="4"
                            points="19 38.8036813 31.1020744 54.8046875 63.299221 28"></polyline>
                    </g>
                </g>
            </svg>
        </div>
    </mat-dialog-content>
    <div mat-dialog-actions [align]="'end'">
        <button mat-button mat-dialog-close>OK</button>
    </div>
</div>